In [1]:
import pandas as pd
from sklearn import tree

In [2]:
df=pd.read_csv('treedata.csv')
df

   height   weight  shoe size  gender
0      182      84         43    male
1      177      74         42  female
2      160      62         39    male
3      144      49         48    male
4      166      64         46    male
5      190      91         42  female
6      174      72         37  female
7      172      81         49  female
8      186      73         46    male
9      169      87         40    male

In [6]:
x=df.iloc[:,:-1]

In [7]:
x

   height   weight  shoe size
0      182      84         43
1      177      74         42
2      160      62         39
3      144      49         48
4      166      64         46
5      190      91         42
6      174      72         37
7      172      81         49
8      186      73         46
9      169      87         40

In [8]:
y=df.iloc[:,3]

In [9]:
y

0      male
1    female
2      male
3      male
4      male
5    female
6    female
7    female
8      male
9      male
Name: gender, dtype: object

In [10]:
classify_=tree.DecisionTreeClassifier()

In [11]:
classify_=classify_.fit(x,y)

In [16]:
prediction_=classify_.predict([[200,40,23]])

C:\Users\badhonkhan481\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [17]:
prediction_

array(['female'], dtype=object)