In [1]:
import pandas as pd
from sklearn import tree

In [4]:
df=pd.read_csv('treedata.csv')
df

   height   weight  shoe size  gender
0      182      84         43    male
1      177      74         42  female
2      160      62         39    male
3      144      49         48    male
4      166      64         46    male
5      190      91         42  female
6      174      72         37  female
7      172      81         49  female
8      186      73         46    male
9      169      87         40    male